@charset "utf-8";

/* =========================
   PAGE TITLE
========================= */
.section-page-top {
  padding: 80px 20px 60px;
  text-align: center;
}

.page-title {
  font-family: 'League Spartan', sans-serif;
  font-size: 48px;
  letter-spacing: 0.08em;
}

.section-concept {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  0% {
     opacity: 0;
     transform: translateY(10px);
  }
  100% {
     opacity: 1;
     transform: translateY(0px);
  }
}

.feature {
  display: flex;
  justify-content: space-between;
  width: 930px;
  max-width: 90%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
}

.feature img {
  width: 360px;
}

.feature-text {
  max-width: 500px;
  margin-right: 40px;
}

.reverse {
  flex-direction: row-reverse;
}

.reverse .feature-text {
  margin-left: 40px;
  margin-right: 0;
}

.feature-text h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
}

.feature-text h2::after {
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #00449d;
  margin-top: 20px;
}

.feature-text p {
  font-size: 16px;
  line-height: 28px;
  margin-top: 25px;
}

.movie {
  width: 930px;
  max-width: 90%;
  background-color: #f8f8f8;
  padding: 50px 60px;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
}

.movie h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.movie h2::after {
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #00449d;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.movie iframe {
  display: block;
  width: 100%;
  height: 456px;
  margin-top: 30px;
}

.movie p {
  font-size: 15px;
  line-height: 28px;
  margin-top: 20px;
}

.footer {
  margin-top: 100px;
}

@media (max-width: 1200px) {
  .feature {
    display: block;
    margin-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .feature-text {
    margin-right: 0;
  }

  .reverse .feature-text {
    margin-left: 0;
  }

  .feature img {
    width: 100%;
    height: auto;
    margin-top: 25px;
  }

  .feature-text p {
    font-size: 13px;
  }

  .movie {
    width: 500px;
    padding: 30px 25px;
  }

  .movie iframe {
    height: 240px;
  }
}