@charset "utf-8";

/* =========================
   FIRST VIEW
========================= */

.first-view {
  height: calc(100vh - 110px);
  background-image: url(../images/index/bg-grid.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 4vw;
  background-color: #ffffff;
  position: relative;
}

/* メッセージ全体 */
.first-view-text {
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #00449d;
}
/* 1行目 */
.block-1 {
  display: block;
  font-size: 140px;
  width: 100%;
}

/* 2行目（一番強調） */
.block-2 {
  display: inline;
  font-size: 180px;
  font-family: 'League Spartan', sans-serif;
}

/* 3行目 */
.block-3 {
  display: inline;
  font-size: 140px;
}

.first-view-text02 {
  font-size: 30px;
  padding-top: 10px;
  opacity: 0;
  animation-name: fadein;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}

.first-view-text{
  position: relative; color: transparent;
  &::before{
    content: ""; position: absolute; z-index: 1; top: 0%; right: 100%; bottom: 0%; left: 0%;
    background : #00449d;
  }
  &.active{
    animation-name: kf_first-view-text_a;
    animation-duration: 0s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    &::before{
      animation-name: kf_first-view-text_b;
      animation-duration: 1.2s;
      animation-fill-mode: forwards;
    }
  }
}
@keyframes kf_first-view-text_a {
  100%{
    color: inherit;
  }
}
@keyframes kf_first-view-text_b {
  50%{
    left: 0%; right: 0%;
  }
  100%{
    left: 100%; right: 0%;
  }
}

/* =========================
   MORE ボタン
========================= */

.link-button-area {
  width: 600px;
  position: absolute;
  bottom: 50px;
  right: 30px;
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

@keyframes fadein {
  0% {
     opacity: 0;
     transform: translateY(10px);
  }
  100% {
     opacity: 1;
     transform: translateY(0px);
  }
}

/* クリック領域 */
.link-button-area a {
  display: flex;              /* 横並び */
  align-items: center;        /* 縦中央 */
  height: 100%;
}

/* MORE */
.link-button-text {
  width: 17%;
  font-size: 30px;
  letter-spacing: 0.1em;
  color: #00449d;
  margin-right: 3%;
}

/* 右側フェーダー（縦並び） */
.link-button-img-fader {
  display: flex;
  flex-direction: column;     /* 上下 */
  justify-content: center;
}

.link-button-img-fader img {
  display: block;
}

.link-button-img-fader01 {
  width: 18%;
  position: relative;
  left: 5%;
  padding-bottom: 2px;
}

.link-button-img-fader02 {
  width: 100%;
}

.link-button-area a {
  transition-duration: 0.3s;
}

.link-button-area a:hover {
  opacity: 0.6;
  transition-duration: 0.3s;
}

.link-button-area a .link-button-img-fader01 {
  transition-duration: 0.3s;
}

.link-button-area a:hover .link-button-img-fader01 {
  transform: translateX(400%);
  transition: transform 0.7s ease;
}



/* =========================
   RESPONSIVE
========================= */
@media (max-width: 800px) {
  .first-view-text {
    position: absolute;
    top: 10%;
  }

  /* 1行目 */
  .block-1 {
    font-size: 18vw;
  }

  /* 2行目（一番強調） */
  .block-2 {
    font-size: 23vw;
  }

  /* 3行目 */
  .block-3 {
    font-size: 18vw;
  }

  .first-view-text02 {
    font-size: 5vw;
    padding-top: 2vw;
  }

  .link-button-area {
    width: 400px;
    position: absolute;
    bottom: 30px;
    left: 30px;
  }

  .link-button-text {
    font-size: 25px;
  }
}

